sphinx==2.2.0
-e git+https://github.com/GilesStrong/pytorch_sphinx_theme#egg=pytorch_sphinx_theme
-e git+https://github.com/hagenw/sphinxcontrib-katex.git#egg=sphinxcontrib.katex
sphinx_autodoc_typehints
sphinx_autodoc_annotation
-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch_nightly
seaborn==0.8.1
matplotlib>=3.0.2
pandas>=0.23.0
fastprogress>=0.1.18
scipy
numpy>=1.12
h5py
scikit-learn>=0.20.0
statsmodels>=0.9.0
sympy
pdpbox>=0.2.0
rfpimp>=1.3.4